name: MLOps github pipeline
on:
  workflow_dispatch:
jobs:
    mlops-pipeline:
      runs-on: ubuntu-latest
      env:
        # Setting these globally for the whole job
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        HF_USERNAME: ${{secrets.HF_NAME}}
        PYTHONPATH: .
        BASE_PATH: MLOps/PIMA_Diabetes_Prediction/self_paced_courses_1_mlops

      steps:
        - uses: actions/checkout@v4 # Updated to latest version
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'
            cache: 'pip' # Speeds up future runs by caching dependencies

        - name: Install Dependencies
          run: pip install -r ${{ env.BASE_PATH }}/requirements.txt

        - name: 1. Register Dataset
          run: python ${{ env.BASE_PATH }}/model_building/data_register.py


